footer{
  background-color: #c9c0c0;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.navigation {
  width: 1300px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

ul {
  list-style: none;
  padding: 0;

}

li {
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Source Sans 3', sans-serif;
}

h3 {
  text-align: center;
  margin-top: 20px;
}